---
---
<!DOCTYPE html>
<html>
{% include header.html %}
  <body>

    <header>
      <div class="container">
        <h1>Pybamview</h1>
        <h2>Browser-based application for viewing bam alignments</h2>
	{% include menu.html %}<br><br>
        <section id="downloads">
          <a href="https://github.com/mgymrek/pybamview/zipball/master" class="btn">Download as .zip</a>
          <a href="https://github.com/mgymrek/pybamview/tarball/master" class="btn">Download as .tar.gz</a>
          <a href="https://github.com/mgymrek/pybamview" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </header>
    <div class="container">
      <section id="main_content">
	Note: PyBamView requires Python2.7.<br><br>
	<h1>easy installation</h1>
	The easiest way to install PyBamView is using <a href="https://pypi.python.org/pypi/pip">pip</a>:
	{% highlight bash %}
	pip install pybamview
	{% endhighlight %}
	This will install <a href="https://pypi.python.org/pypi/pybamview/">the latest PyBamView version listed in PyPi</a>, and any missing libraries it depends on.
	<br><br>
	To use the "Export to PDF" feature, you will also need to install <a href="http://manpages.ubuntu.com/manpages/precise/man1/rsvg-convert.1.html">rsvg-convert</a>:
	{% highlight bash %}
	sudo apt-get install librsvg2-bin
	{% endhighlight %}

	<h1>installing from source</h1>
	<h2>obtain the source code</h2>
	To install PyBamView, first obtain the source code by either:
	<ul>
	  <li>Downloading the tarball
	    {% highlight bash %}
	    tar -xzvf mgymrek-pybamview-[version].tar.gz
	    cd mgymrek-pybamview-[version]
	    {% endhighlight %}
	  </li>
	  <li>Downloading the zip file
	    {% highlight bash %}
	    unzip mgymrek-pybamview-[version].zip
	    cd mgymrek-pybamview-[version]
	    {% endhighlight %}
	  </li>
	  <li>Cloning the git repository
	    {% highlight bash %}
	    git clone https://github.com/mgymrek/pybamview.git
	    cd pybamview
	    {% endhighlight %}
	  </li>
	</ul>

	<h2>install requirements</h2>
	Then, make sure you have the required python packages installed:
	<ul>
	  <li><a href="http://flask.pocoo.org/">Flask</a></li>
	  <li><a href="http://pandas.pydata.org/">pandas</a></li>
	  <li><a href="https://pypi.python.org/pypi/pyfasta/">pyfasta</a></li>
	  <li><a href="https://code.google.com/p/pysam/">pysam</a></li>
	</ul>
	You can install these using easy_install:
	{% highlight bash %}
	sudo easy_install Flask pandas pyfasta pysam
	{% endhighlight %}
	
	If you want to use the "Download PDF" feature, you must have rsvg-convert installed (see above).

	<h2>install</h2>
	At the top of the PyBamView source directory, type:
	{% highlight bash %}
	sudo python setup.py install
	{% endhighlight %}
	
	To make sure it was installed, type:
	{% highlight bash %}
	pybamview --help
	{% endhighlight %}
	and ensure that the help message comes up. Then move on to <a href="{{ SITE.URL }}/pybamview/usage.html">the usage page</a> to get started!
      </section>
    </div>
    
  </body>
</html>
