---
---
<!DOCTYPE html>
<html>
{% include header.html %}
  <body>

    <header>
      <div class="container">
        <h1>Pybamview</h1>
        <h2>Browser-based application for viewing bam alignments</h2>
	{% include menu.html %}<br>
      </div>
    </header>
    <div class="container">
      <section id="main_content">
	<h1>News</h1>
	<ul>
	  <li><b>09/28/14</b> PyBamView version 1.0.6 released. New in this version:
	    <ul>
	      <li>Removed pandas dependency and python2.7 requirements to make PyBamView compatible with Python2.6</li>
	      <li>PyBamView can read from a single BAM file, or from a directory with BAM files as before.</li>
	      <li>Fixed a bug that occurred when read groups start with numbers or have non alpha-numeric characters.</li>
	      <li>Better determining of a default genomic location for the first time PyBamView is loaded.</li>
	      <li>PyBamView can deal with extra information given in reference fasta header lines.</li>
	    </ul>
	  <li><b>07/23/14</b> PyBamView version 1.0.0 released. New in this version:
	    <ul>
	      <li>
		The entire alignment view is now rendered using the <a href="d3js.org">D3 javascript library</a>
	      </li>
	      <li>
		Significant speedups and bug fixes to allow for visualizing more samples and reads at once.
	      </li>
	      <li>
		New features to allow zooming in and out of alignment views.
	      </li>
	    </ul>
	  </li>
	  <li><b>05/23/14</b> PyBamView released on pypi</li>
	  <li><b>01/29/14</b> PyBamView initial version goes live</li>
	</ul>
      </section>
    </div>
    {% include footer.html %}
  </body>
</html>
