.sample {
    background-color: lightgray;
    position: absolute;
    width: 100%;
    left: 10px;
}

.alntables {
    width: 100%;
    overflow-x: scroll;
}

.alignments {
}

.outer {
  margin: 0;
  padding: 0;
  left: 0px;
  right: 0px;
}

.inner {
  position: relative;
  padding: 10px 10px;
}

#header_wrap {
  background: #212121;
  background: -moz-linear-gradient(top, #373737, #212121);
  background: -webkit-linear-gradient(top, #373737, #212121);
  background: -ms-linear-gradient(top, #373737, #212121);
  background: -o-linear-gradient(top, #373737, #212121);
  background: linear-gradient(top, #373737, #212121);
}

#reference {
   background: white;
}

#toolbar {
  background: #BCB9B9;
}

#display_info {
  margin: 0;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-shadow: #111 0px 0px 10px;
}

#param_info {
  margin: 0;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  text-shadow: #111 0px 0px 10px;
}

#footer_wrap {
  background: #212121;
  position: relative;
}

#footer_info {
  margin: 0;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-shadow: #111 0px 0px 10px;
}

.ref {
    color: white;
    font-family: Courier;
}

.read {
    font-family: Courier;
}

.hover { background-color: pink; }