.sample {
    background-color: lightgray;
    position: absolute;
    width: 100%;
    left: 10px;
}

.alntables {
    width: 100%;
    overflow-x: scroll;
}

.alignments {
}

.outer {
  margin: 0;
  padding: 0;
  left: 0px;
  right: 0px;
  width: 100%;
}

.inner {
  position: relative;
  padding: 10px 10px;
}

.arrow {
  background-color: white;
  border: 0px;
  padding: 4px;
  height: 25px;
  vertical-align: middle;
}

.zoomout {
  background-color: white;
  border: 0px;
  width: 7px;
  padding: 0px;
  height: 15px;
  vertical-align: middle;
}

.zoomin {
  background-color: white;
  border: 0px;
  width: 7px;
  padding: 0px;
  height: 15px;
  vertical-align: middle;
}

.defaultzoom {
  background-color: black;
  border: 0px;
  width: 7px;
  padding: 0px;
  height: 15px;
  vertical-align: middle;
}

#zoomer {
  vertical-align: middle;
}

#control {
  border-spacing: 2px 0px;
  vertical-align: middle;
}

#header_wrap {
  background: #212121;
  background: -moz-linear-gradient(top, #373737, #212121);
  background: -webkit-linear-gradient(top, #373737, #212121);
  background: -ms-linear-gradient(top, #373737, #212121);
  background: -o-linear-gradient(top, #373737, #212121);
  background: linear-gradient(top, #373737, #212121);
}

#reference {
   background: white;
}

#toolbar {
  background: #BCB9B9;
}

#display_info {
  margin: 0;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-shadow: #111 0px 0px 10px;
}

.param_info {
  margin: 0;
  color: #fff;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: #111 0px 0px 10px;
}

#footer_wrap {
  background: #212121;
  position: relative;
}

#footer_info {
  margin: 0;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-shadow: #111 0px 0px 10px;
}

.ref {
    color: white;
    font-family: Courier;
}

.read {
    font-family: Courier;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

.helptext {
    padding: 0px;
    height: 20px;
    width: 18px;
}
.description {
    display:none;
    background-color: #F4F3D7;
    position:absolute;
    padding: 5px;
    border:1px solid #000;
    z-index: 100;
}
