<div id="navigation">
  <ul>
    <li><a href="{{ SITE.URL }}/pybamview/index.html">HOME</a></li>
    <li><a href="{{ SITE.URL }}/pybamview/install.html">INSTALL</a></li>
    <li><a href="{{ SITE.URL }}/pybamview/usage.html">USAGE</a></li>
    <li><a href="{{ SITE.URL }}/pybamview/faq.html">FAQ</a></li>
    <li><a href="http://pybamview.melissagymrek.com/?bamfiles=HG00096.chrom20.ILLUMINA.bwa.GBR.low_coverage.20120522.bam&bamfiles=HG00121.chrom20.ILLUMINA.bwa.GBR.low_coverage.20130415.bam&region=20%3A61100">EXAMPLE</a></li>
  </ul>
</div>
