<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='shortcut icon'
          href="{{ url_for('browser.static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" screen="media" type="text/css"
          href="{{ url_for('browser.static', filename='css/pybamview.css') }}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script>
      var region = "{{ POSITIONS[0] }}-{{ POSITIONS[REFERENCE|length-1] }}";
      var chrom = "{{ CHROM }}";
      var samples = "{{ SAMPLE_HASHES|join(',') }}".split(",");
      var startpos = {{ POSITIONS[0] }};
      var targetpos = {{ TARGETPOS }};
      var reference_track = "{{ REFERENCE }}";
      var buffer = {{ BUFFER }};
      var snapshot = false;
      var alignBySample = {
      {% for s in SAMPLE_HASHES %}
      "{{ s }}": "{{ ALIGNMENTS[s]|join(';') }}",
      {% endfor %}
      };
      var positions = {{ POSITIONS }};
    </script>
  </head>  
  <body>
    <div class='outer' id='header_wrap'>
      <header class='inner'>
	<h1 id='display_info'>PyBamView</h1>
	<a href="/">Home</a>
	<div id='viewparams' class='param_info'>
	<button onclick='toggleDiv("descriptionparams");' type="button">View/hide parameters</button>
	<div id="descriptionparams" style="display:none;">
	  <b>Bam file(s):</b><br>
	  {% for b in BAM_FILES %}
	  &nbsp;&nbsp;{{ b }}<br>
	  {% endfor %}
	  <b>Reference:</b> {{ REF_FILE }}
	</div>
	</div>
      </header>
    </div>

    <div class ='outer' id='toolbar'>
      <table id="control">
	<tr>
	  <td>
	    <form name="controlform">
	      {% for f in BAM_FILES %}
	      <input type='hidden' name='bamfiles' value='{{ f }}'>
	      {% endfor %}
	      {% for s in SAMPLES %}
	      <input type='hidden' name='samples' value='{{ s }}'>
	      {% endfor %}
	      <input type='hidden' name='zoomlevel' value='{{ ZOOMLEVEL }}'>
	      <table>
		<tr>
		  <td>Enter region: </td>
		  <td>
 		    <div class="helptext" id="helptextregion">
		      <img width="18" src="{{ url_for('browser.static', filename='img/question_mark.png') }}"> <div class="description" id="descriptionregion">
			Enter a region in the form chr:position and click "Submit".
		    </div></div> 
		  </td>
		  <td><input type='text' name='region' value='{{ REGION }}'></td>
		  <td><input type='submit' class="button"></td>
		  <td><button class="arrow" id="leftzoom" onclick="scroll(-1);" type="button"><b> &lt; </b></button></td>
		  <td><button class="arrow" id="leftzoom100bp" onclick="scroll(-100);" type="button"><b> &lt; 100bp</b></button></td>
		  <td><button class="arrow" id="leftzoom10bp" onclick="scroll(-10);" type="button"><b> &lt; 10bp</b></button></td>
		  <td><button class="arrow" id="rightzoom10bp" type="button" onclick="scroll(10);"><b> &gt; 10bp </b></button></td>
		  <td><button class="arrow" id="rightzoom100bp" type="button" onclick="scroll(100);"><b> &gt; 100bp </b></button></td>
		  <td><button class="arrow" id="rightzoom" type="button" onclick="scroll(1);"><b> &gt; </b></button></td>
		  <td>
		    <div class="helptext" id="helptextarrow">
		      <img width="18" src="{{ url_for('browser.static', filename='img/question_mark.png') }}"><div class="description" id="descriptionarrow">
			To navigate to a genomic location nearby, click the "&lt;" or "&gt;" buttons to scroll left or right.
		      </div>
		    </div>
		  </td>
		</tr>
	      </table>
	    </form>
	  </td>
	  {% if TARGET_LIST|length > 0 %}
	  <td>
	    <form>
	    {% for f in BAM_FILES %}
	    <input type='hidden' name='bamfiles' value='{{ f }}'>
	    {% endfor %}
	    {% for s in SAMPLES %}
	    <input type='hidden' name='samples' value='{{ s }}'> 
	    {% endfor %}
	    Select target:
	    <select name='region'>
	      {% for target in TARGET_LIST %}
	      {% if REGION == target.region %}
	      <option value='{{ target.region }}' selected>{{ target.name }}</option>
	      {% else %}
	      <option value='{{ target.region }}'>{{ target.name }}</option>
	      {% endif %}
	      {% endfor %}
	    </select><input type="submit" class="button">
	    </form>
	  </td>
	  {% endif %}
	  <td><div id="zoomvalue">Zoom: <input type="text" maxlength="4" size="4" value="1x" readonly></div></td>
	  <td>
	    <div class="helptext" id="helptextzoom">
	      <img width="18" src="{{ url_for('browser.static', filename='img/question_mark.png') }}"><div class="description" id="descriptionzoom">
		Use the <button class="zoomout" type="button"></button> buttons to zoom in and out. The black button gives the current zoom level. The gray button gives the default zoom level of 1x. To zoom in, click to the right of the default. To zoom out, click to the left of the default.
	      </div>
	    </div>
	  </td>
	  <td><div id="zoomer">
	      <b>-</b>
	      {% if MAXZOOM >= 100 %}
	      <button class="zoomout" id="zoom{{ -100 }}" onclick="refreshZoom({{ -100 }} );" type="button"></button>
	      {% endif %}
	      {% if MAXZOOM >= 50 %}
	      <button class="zoomout" id="zoom{{ -50 }}" onclick="refreshZoom({{ -50 }} );" type="button"></button>
	      {% endif %}
	      {% for zl in range(9) %}
	      {% if MAXZOOM >= zl+1 %}
	      <button class="zoomout" id="zoom{{ (10-zl)*-1 }}" onclick="refreshZoom({{ (10-zl)*-1 }} );" type="button"></button>
	      {% endif %}
	      {% endfor %}
	      <button class="defaultzoom" id="zoom1" onclick="refreshZoom(1);" type="button"></button>
	      {% for zl in range(2,4) %}
	      <button class="zoomin" id="zoom{{ zl }}" onclick="refreshZoom({{ zl }});" type="button"></button>
	      {% endfor %}
	      <input type="hidden" id="centerind" value="">
	      <b>+</b>
	  </div></td>
	  <td>
	    <form action="snapshot" target="_blank" name="snapform" method="post"> 
	      {% for i in range(SAMPLES|length) %}
	      <input type='hidden' name='samples' value='{{ SAMPLES[i] }}'>
	      <input type='hidden' name='alignment_{{ SAMPLES[i] }}', value='{{ ALIGNMENTS[SAMPLE_HASHES[i]]|join(";") }}'>
	      {% endfor %}
	      <input type='hidden' name='region' value='{{ REGION }}'>
	      <input type='hidden' name='startpos' value='{{ POSITIONS[0] }}'>
	      <input type='hidden' name='reference' value='{{ REFERENCE }}'>
	      <input type='hidden' name='zoomlevel' value='1'>
	      <input type='submit' value="Export snapshot" class="button">
	    </form>
	  </td>
	</tr>
      </table>
      <div id="displayed">Displayed: </div>
      <table>
	<tr>
	  <td>
	    <div class="helptext" id="helptextselect">
	      <img width="18" src="{{ url_for('browser.static', filename='img/question_mark.png') }}"><div class="description" id="descriptionselect">
		Mousing over a locus will update the "Selected" text box with the currently selected position.
		<p>
		  To select a specific region from a zoomed out view to zoom in on, draw a box around the region of the reference you would like to select. The "Selected" text box should update with the currently selected region.
	      </div>
	    </div>
	  </td>
	  <td>
	    <div id='selected'>Selected: </div>
	  </td>
	</tr>
      </table>
    </div>
    
    <div class='alntables' id='aln'>
      <div id="reference" class="reference"></div>
      <div id="alignments" class="alignments">
	{% for i in range(SAMPLES|length) %}
	<div class="sample">{{ SAMPLES[i] }} <button onclick='toggleDiv("s{{ SAMPLE_HASHES[i] }}");' type="button">show/hide</button></div>
	<div id="s{{ SAMPLE_HASHES[i] }}" class="sampleAlignment"></div>
	<div class="spacer"><br><br></div>
	{% endfor %}
      </div>
    </div>
    {% for sample in SAMPLES %}
    <div class="spacer"><br><br></div>
    {% endfor %}
    <div id='footer_wrap' class='outer'>
      <footer class='inner'>
	<div id='footer_info'>This alignment is being viewed with <a href='https://github.com/mgymrek/pybamview' target='_blank'>PyBamView</a>
	</div>
      </footer>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>    
    <script src="{{ url_for('browser.static', filename='javascript/pybamview.js') }}"></script>
    <script src="{{ url_for('browser.static', filename='javascript/alignments.js') }}"></script>
    <script src="http://d3js.org/d3.v3.min.js" type="text/javascript"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
  </body>
</html>
