<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='shortcut icon' href='/favicon.ico'>
    <link rel="stylesheet" screen="media" type="text/css" href="{{ url_for('static', filename='css/pybamview.css') }}">
  </head>  
  <body>
    <div class='outer' id='header_wrap'>
      <header class='inner'>
	<h1 id='display_info'>PyBamView</h1>
	<div id='param_info'>Bam file: {{ BAM_FILES|join(',' ) }}</div>
	<div id='param_info'>Reference: {{ REF_FILE }}</div>
	<div id='param_info'>Region: {{ REGION }}</div>
	<div id='param_info'>Samples:
	  {% for sample in SAMPLES %}
	  <font color="white">{{ sample }}</font>
	  {% endfor %}
	</div>
      </header>
    </div>

    <div class ='outer' id='toolbar'>
      <form action="snapshot" target="_blank" method="post">
	{% for s in SAMPLES %}
	<input type='hidden' name='samples' value='{{ s }}'>
	<input type='hidden' name='alignment_{{ s }}', value='{{ ALIGNMENTS[s]|join(";") }}'>
	{% endfor %}
	<input type='hidden' name='region' value='{{ REGION }}'>
	<input type='hidden' name='startpos' value='{{ POSITIONS[0] }}'>
	<input type='hidden' name='reference' value='{{ REFERENCE }}'>
	<input type='submit' value="Export snapshot">
      </form>
      {% if TARGET_LIST|length > 0 %}
      <form>
	{% for f in BAM_FILES %}
	<input type='hidden' name='bamfiles' value='{{ f }}'>
	{% endfor %}
	{% for s in SAMPLES %}
	<input type='hidden' name='samples' value='{{ s }}'>
	{% endfor %}
	Select target:
	<select name='region'>
	  {% for target in TARGET_LIST %}
	  {% if REGION == target.region %}
	  <option value='{{ target.region }}' selected>{{ target.name }}</option>
	  {% else %}
	  <option value='{{ target.region }}'>{{ target.name }}</option>
	  {% endif %}
	  {% endfor %}
	</select>
	<input type='submit'>	
      </form>
      {% endif %}
      <form>
	{% for f in BAM_FILES %}
	<input type='hidden' name='bamfiles', value='{{ f }}'>
	{% endfor %}
	{% for s in SAMPLES %}
	<input type='hidden' name='samples' value='{{ s }}'>
	{% endfor %}
	Enter region: <input type='text' name='region' value='{{ REGION }}'>
	<input type='submit'>
	<div id='selected'>Selected: </div>
      </form>
    </div>
    
    <div class='alntables' id='aln'>
      <div class='reference' id='reference'>
	<table>
	  <tr>
	    {% for i in range(REFERENCE|length) %}
	    {% if (REFERENCE[i]) == "N" or (REFERENCE[i]) == "n" %}
	    <td class="{{ CHROM }}_{{ POSITIONS[i] }}" id="ref{{ i }}" style="background-color:gray;">
	      <font class="ref"><b>{{ REFERENCE[i] }}</b></font>
	    </td>
	    {% else %}
	    <td class="{{ CHROM }}_{{ POSITIONS[i] }}" id="ref{{ i }}" style="background-color:{{ NUC_TO_COLOR[REFERENCE[i]] }};">
	      <font class="ref"><b>{{ REFERENCE[i] }}</b></font>
	    </td>
	    {% endif %}
	    {% endfor %}
	  </tr>
	</table>
      </div>
      
      <div class='alignments'>
	{% for sample in SAMPLES %}
	<a name='{{ sample }}'></a>
	<div class='sample' onclick='toggleDiv("{{ sample }}");'>{{ sample }} (show/hide)</div><div>?</div>
	<div id="{{ sample }}">
	  <table>
	    {% for aln in ALIGNMENTS[sample] %}
	    <tr>
	      {% for i in range(aln|length) %}
	      {% if (aln[i]|upper) != (REFERENCE[i]|upper) and (REFERENCE[i]|upper|isnuc) and (aln[i]|upper|isnuc) %}
	      <td class="{{ CHROM }}_{{ POSITIONS[i] }}" style="background-color:yellow;">
		{% else %}
		<td class="{{ CHROM }}_{{ POSITIONS[i] }}">
		{% endif %}
		<font class='read' color="{{ NUC_TO_COLOR[aln[i]] }}">{{ aln[i] }}</font>
	      </td>
	      {% endfor %}
	    </tr>
	    {% endfor %}
	  </table>
	</div><br>
	{% endfor %}
      </div>
    </div>
    
    <div id='footer_wrap' class='outer'>
      <footer class='inner'>
	<div id='footer_info'>This alignment is being viewed with <a href='https://github.com/mgymrek/pybamview' target='_blank'>PyBamView</a>
	</div>
      </footer>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>    
    <script src="{{ url_for('static', filename='javascript/pybamview.js') }}"></script>
  </body>
</html>
