<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='shortcut icon' href='/favicon.ico'>
    <link rel="stylesheet" screen="media" type="text/css" href="{{ url_for('static', filename='css/pybamview.css') }}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script>
      var region = "{{ POSITIONS[0] }}-{{ POSITIONS[REFERENCE|length-1] }}";
      var chrom = "{{ CHROM }}";
      var samples = "{{ SAMPLES|join(',') }}".split(",");
      var startpos = {{ POSITIONS[0] }};
      var reference_track = "{{ REFERENCE }}";
      var buffer = {{ BUFFER }};
      var snapshot = false;
      var alignBySample = {
      {% for s in SAMPLES %}
      "{{ s }}": "{{ ALIGNMENTS[s]|join(';') }}",
      {% endfor %}
      };
      var positions = {{ POSITIONS }};
    </script>
  </head>  
  <body>
    <div class='outer' id='header_wrap'>
      <header class='inner'>
	<h1 id='display_info'>PyBamView</h1>
	<div id='param_info'>Bam file: {{ BAM_FILES|join(',' ) }}</div>
	<div id='param_info'>Reference: {{ REF_FILE }}</div>
	<div id='param_info'>Region: {{ REGION }}</div>
	<div id='param_info'>Samples:
	  {% for sample in SAMPLES %}
	  <font color="white">{{ sample }}</font>
	  {% endfor %}
	</div>
      </header>
    </div>

    <div class ='outer' id='toolbar'>
      <table id="control">
	<tr>
	  <td>
	    <form name="controlform">
	      {% for f in BAM_FILES %}
	      <input type='hidden' name='bamfiles' value='{{ f }}'>
	      {% endfor %}
	      {% for s in SAMPLES %}
	      <input type='hidden' name='samples' value='{{ s }}'>
	      {% endfor %}
	      <input type='hidden' name='zoomlevel' value='{{ ZOOMLEVEL }}'>
	      Enter region: <input type='text' name='region' value='{{ REGION }}'><input type='submit'>
	    </form>
	  </td>
	  {% if TARGET_LIST|length > 0 %}
	  <td>
	    <form>
	    {% for f in BAM_FILES %}
	    <input type='hidden' name='bamfiles' value='{{ f }}'>
	    {% endfor %}
	    {% for s in SAMPLES %}
	    <input type='hidden' name='samples' value='{{ s }}'> 
	    {% endfor %}
	    Select target:
	    <select name='region'>
	      {% for target in TARGET_LIST %}
	      {% if REGION == target.region %}
	      <option value='{{ target.region }}' selected>{{ target.name }}</option>
	      {% else %}
	      <option value='{{ target.region }}'>{{ target.name }}</option>
	      {% endif %}
	      {% endfor %}
	    </form>
	  </td>
	  {% endif %}
	  <td>
	    <form action="snapshot" target="_blank" name="snapform" method="post"> 
	      {% for s in SAMPLES %}
	      <input type='hidden' name='samples' value='{{ s }}'>
	      <input type='hidden' name='alignment_{{ s }}', value='{{ ALIGNMENTS[s]|join(";") }}'>
	      {% endfor %}
	      <input type='hidden' name='region' value='{{ REGION }}'>
	      <input type='hidden' name='startpos' value='{{ POSITIONS[0] }}'>
	      <input type='hidden' name='reference' value='{{ REFERENCE }}'>
	      <input type='hidden' name='zoomlevel' value='1'>
	      <input type='submit' value="Export snapshot">
	    </form>
	  </td>
	  <td><div id="zoomvalue">Zoom: 1x</div></td>
	  <td><div id="zoomer">
	      <b>-</b>
	      <button class="arrow" id="leftzoom" onclick="scroll(0);" type="button"><b> &lt; </b></button>
	      <button class="zoomout" id="zoom{{ -100 }}" onclick="refreshZoom({{ -100 }} );" type="button"></button>
	      <button class="zoomout" id="zoom{{ -50 }}" onclick="refreshZoom({{ -50 }} );" type="button"></button>
	      {% for zl in range(9) %}
	      <button class="zoomout" id="zoom{{ (10-zl)*-1 }}" onclick="refreshZoom({{ (10-zl)*-1 }} );" type="button"></button>
	      {% endfor %}
	      <button class="defaultzoom" id="zoom1" onclick="refreshZoom(1);" type="button"></button>
	      {% for zl in range(2,4) %}
	      <button class="zoomin" id="zoom{{ zl }}" onclick="refreshZoom({{ zl }});" type="button"></button>
	      {% endfor %}
	      <button class="arrow" id="rightzoom" type="button" onclick="scroll(1);"><b> &gt; </b></button>
	      <input type="hidden" id="centerind" value="">
	      <b>+</b>
	  </div></td>
	</tr>
      </table>
      <div id='selected'>Selected: </div>
    </div>
    
    <div class='alntables' id='aln'>
      <div id="reference" class="reference"></div>
      <div id="alignments" class="alignments">
	{% for sample in SAMPLES %}
	<div class="sample" onclick='toggleDiv("{{ sample }}");'>{{ sample }} (show/hide)</div>
	<div id="{{ sample }}" class="sampleAlignment"></div>
	{% endfor %}
      </div>
    </div>
    {% for sample in SAMPLES %}
    <div class="spacer"><br><br></div>
    {% endfor %}
    <div id='footer_wrap' class='outer'>
      <footer class='inner'>
	<div id='footer_info'>This alignment is being viewed with <a href='https://github.com/mgymrek/pybamview' target='_blank'>PyBamView</a>
	</div>
      </footer>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>    
    <script src="{{ url_for('static', filename='javascript/pybamview.js') }}"></script>
    <script src="http://d3js.org/d3.v3.min.js" type="text/javascript"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
  </body>
</html>
