<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  
  <body>
    
    <div id='header_wrap'></div>
    <h1>Samples contained in indexed bam files in this directory</h1>
    <form action="bamview">
      {% if samplesToBam|length != 0 %}
      <input type='submit', value='View selected samples'><br>
      {% for s0, s1 in samplesToBam|dictsort %}
      <input type='checkbox' name='samplebams', value='{{ s0 }}:{{ s1|join(',') }}'>{{ s0 }}<br>
      {% endfor %}
      <input type='hidden' name='zoomlevel' value='1'>
      {% else %}
      <h2>No samples found. Check that there are indexed bam files present, and that read groups are properly assigned.</h2>
      {% endif %}
    </form>
    
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>    
  </body>
</html>
